.navbar{
    /* width:100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a192f;
    color  :white;
    padding: 8px 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
     font-family: "Poppins", sans-serif;
}
.navbar .center{
    display: flex;
    gap:30px;
}
.right{
     display: flex;
    align-items: center;
    gap: 15px;
}
.right img{
    width: 30px;
   
}
.left{
    display: flex;
    align-items: center;
}
.left img{
    /* height: 80px; */
    width: 160px;
}