.landing{
    width: 100%;
    height: 100vh;
    background-color: #0a192f;
}
.herosection{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}
.herosection .heading{
    font-size: 25px;   
  font-weight: 700;
   font-family: "Poppins", sans-serif;
}
.herosection .description{
font-size: 20px;
font-weight: 400;
color: #94a3b8;
  font-family: "Inter", sans-serif;
}
.light, .dark {
     font-size: 16px;  
  /* font-weight: 600; */
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 20px;
  /* background: #3b82f6; */
  /* color: #fff; */
  color:  #fff;
  border: none;
  transition: 0.2s  ease-in;
}
.dark{
     background: #3065bb; 
}
.light{
    background-color:  #292e3bff;
    color:  #fff;
}
.light:hover,.dark:hover{
     transform: translateY(-1px);
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.1);
  
}
.light:hover{
   background-color:#0b1220;
}
.dark:hover{
       background-color: #1e3a8a;
}
.features{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.featurecard{
    min-width: 210px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 10px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: 0.2s  ease-in;
}
.featurecard .bottomtext{
    color:#94a3b8; ;
      font-family: "Inter", sans-serif;
}
.featurecard .img img{
    width: 40px;
}
.featurecard:hover{
  transform: translateY(-3px);
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.1);
}
.buttons{
    display: flex;
}
.join-room {
  display: flex;
  gap: 10px;
  align-items: center;
}

.room-input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #334155;
  background: #1e293b;
  color: white;
  outline: none;
}
.room-input::placeholder {
    font-family: "JetBrains Mono", monospace;
  color: #94a3b8;
}
